li {
    float: left;
    direction: none;
    list-style: none;
}

li a {
    display: inline;
    padding: 8px;
    color: black;
    text-decoration: none;
}

li a:hover {
    color: black;
    text-decoration: none;
}

.room {
    background-color: #fff5e6;
}